title = "About"
url = "/about"
layout = "default"
description = "About me page."
meta_description = "I'm Damian Lewis, a freelance web designer and developer based in St Albans, Hertfordshire. I design and build bespoke websites and applications for a wide range of businesses."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[pageHero]
id = 2

[categorisedSkills]

[qualificationsList]
orderBy = "sort_order"
orderDirection = "asc"
includeCompletedDate = 1
==
{% if hero %}
    {% partial 'common/hero' %}
{% endif %}

<div class="[ c-container c-container--wave ]">
    <div class="c-container__inner mx-auto">
        {% partial 'headings/h2_with_divider' heading='Background' %}
        <div class="c-content">
            {% content 'about/background.htm' %}
        </div>

        {% if qualifications %}
            <div class="mt-20">
                {% partial 'headings/h3_as_h4' heading='Qualifications' %}
                <ul class="c-layout-x-8">
                    {% for qualification in qualifications %}
                        <li>
                            <div class="[ c-text c-text--large ] text-grey-600">{{ qualification.title }}</div>
                            <div class="[ c-text c-text--small ] text-grey-600">Awarded: {{ qualification.score }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>

{% if rootCategories.data %}
    <div id="accordion-list">
        {% for category in rootCategories.data %}
            {% set isEven = (loop.index % 2) is even %}
            <div class="[ c-container {% if isEven %}c-container--wave{% else %}c-container--tint{% endif %} ]">
                <div class="c-container__inner mx-auto{% if not isEven %} pb-32 lg:pb-36{% endif %}">
                    {% partial 'headings/h2_with_divider' heading=category.name %}
                    <ul class="c-layout-x-16 lg:c-layout-x-24">
                        {% for subCategory in category.categories.data %}
                            <li>
                                {% partial 'about/skills_category' name=subCategory.name skills=subCategory.skills.data %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% put scripts %}
    {% if this.environment == 'development' %}
        <script src="{{ 'assets/development/js/accordion_list.js'|theme }}"></script>
    {% else %}
        <script src="{{ 'assets/js/accordion_list.js'|theme }}"></script>
    {% endif %}
{% endput %}