title = "Home"
url = "/"
layout = "default"
description = "Home page."
is_hidden = 0

[hero]
hero = 1

[featuredCategories]
orderBy = "sort_order"
orderDirection = "asc"
limit = 3

[clientLogos]
orderBy = "sort_order"
orderDirection = "asc"

[featuredProject]
project = 5
projectPage = "portfolio/project"

[testimonial]
id = 5
includeRating = 0
==
{% if hero.isAvailable %}
    {% partial 'common/hero' item=hero.item %}
{% endif %}

{% if featuredCategories.isAvailable %}
    <div class="[ c-container c-container--wave ]">
        <div class="c-container__inner">
            <div class="flex flex-col items-center">
                {% partial 'services/featured_categories' categories=featuredCategories.collection %}
                <a class="c-button mt-20 lg:mt-24" href="{{ 'services/index'|page }}">Find out more</a>
            </div>
        </div>
    </div>
{% endif %}

{% if featuredProject.isAvailable %}
    <div class="c-container bg-red-100">
        <div class="c-container__inner">
            <h2>Case Studies</h2>
            <hr class="border-red-500 mb-20 xl:mb-28">
            {% partial 'portfolio/featured_project' item=featuredProject.item %}
        </div>
    </div>
{% endif %}

{% if clientLogos.isAvailable %}
    <div class="[ c-container c-container--wave ]">
        <div class="c-container__inner">
            <h2>Clients</h2>
            <hr class="border-red-500 mb-20 xl:mb-28">
            {% partial 'portfolio/clients' logos=clientLogos.collection %}
        </div>
    </div>
{% endif %}

{% if testimonial %}
    <div class="c-container bg-red-100">
        <div class="c-container__inner">
            {% partial 'portfolio/testimonial' testimonial=testimonial %}
        </div>
    </div>
{% endif %}