title = "Project"
url = "/portfolio/project/:slug"
layout = "parallax"
description = "Portfolio project details page."
meta_description = "I'm Damian Lewis, a freelance web designer and developer based in St Albans, Hertfordshire. I design and build bespoke websites and applications for a wide range of businesses."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[projectDetails]
==
<div class="[ c-container c-container--tint ]">
    <div class="c-container__inner mx-auto pb-88 md:pb-94 lg:pb-132">
        <h1 class="text-center text-grey-900">{{ project.title }}</h1>
        <hr class="border-red-500 mx-auto mb-8 xl:mb-28">
        <p class="[ c-text c-text--large ] text-grey-600 text-center">{{ project.tagLine }}</p>
    </div>
</div>

<div class="c-container">
    <div class="c-container__inner mx-auto">
        <div class="shadow-lg -mt-88 md:-mt-94 lg:-mt-132">
            <img class="object-cover object-left-top h-12 rounded-t-lg"
                 src="{{ 'assets/images/browser_toolbar.svg'|theme }}"
                 alt="">
            <div class="overflow-hidden h-160 md:h-172 lg:h-248">
                <div class="c-parallax__item">
                    <picture>
                        <source srcset="{{ project.mobileImage.path }}" media="(max-width: 544px)">
                        <source srcset="{{ project.tabletImage.path }}" media="(max-width: 768px)">
                        <source srcset="{{ project.desktopImage.path }}" media="(max-width: 1024px)">
                        <img src="{{ project.desktopImage.path }}" alt="{{ project.desktopImage.title }}">
                    </picture>
                </div>
            </div>
        </div>

        <div class="mt-20 md:mt-24 xl:mt-32">
            {% partial 'headings/h2_with_divider' heading='Overview' %}
            <div class="c-content">
                {{ project.text|raw }}
            </div>
        </div>

        {% if project.mockupImage %}
            <img class="mt-16 xl:mt-32" src="{{ project.mockupImage.path }}" alt="{{ project.mockupImage.title }}">
        {% endif %}

        <div class="c-layout-x-8 mt-16">
            {% if project.skills %}
                {% partial 'common/attributes' attributes=project.skills icon='assets/icons/skills.svg'|theme %}
            {% endif %}

            {% if project.technologies %}
                {% partial 'common/attributes' attributes=project.technologies icon='assets/icons/technology.svg'|theme %}
            {% endif %}
        </div>
    </div>

    {% if project.additionalImages %}
        <div class="[ c-container c-container--tint ]">
            <div class="c-container__inner mx-auto pb-36 md:pb-44 xl:pb-60">
                {% partial 'headings/h2_with_divider' heading='Designs' %}
                <div class="c-layout-x-8 md:c-layout-x-12 lg:c-layout-x-24 xl:c-layout-x-32">
                    {% for additionalImage in project.additionalImages %}
                        <div class="mx-auto">
                            <div class="shadow-lg overflow-hidden">
                                <img class="object-cover object-left-top h-4 rounded-t-sm sm:h-6 sm:rounded-t md:h-8 lg:h-12 lg:rounded-t-lg"
                                     src="{{ 'assets/images/browser_toolbar.svg'|theme }}" alt="">
                                <img src="{{ additionalImage.path }}" alt="{{ additionalImage.title }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if project.testimonial %}
        <div class="[ c-container c-container--wave ]">
            <div class="c-container__inner mx-auto md:pb-32 lg:pb-40">
                {% partial 'portfolio/testimonial' testimonial=project.testimonial %}
            </div>
        </div>
    {% endif %}
</div>