description = "For use with parallax scrolling."
==
{% spaceless %}
<!doctype html>
<html lang="en"{% if agent('browser') == 'Chrome' or agent('browser') == 'Opera' %} class="h-full overflow-hidden"{% endif %}>

{% partial 'site/head' %}

<body{% if agent('browser') == 'Chrome' or agent('browser') == 'Opera' %} class="c-parallax h-full"{% endif %}>
    {% partial 'site/gtmnoscript' %}
    {% partial 'site/navigation' %}
    {% partial 'site/main' %}
    {% partial 'site/footer' %}
    {% partial 'site/scripts' %}
    {% scripts %}
</body>

</html>
{% endspaceless %}