description = "Displays a featured project."
==
<div class="md:flex md:items-center md:c-layout-y-16">
    <div class="md:w-1/2">
        <img src="{{ project.image.path }}" alt="{{ project.image.title }}">
    </div>

    <div class="md:w-1/2 mt-16 md:mt-0">
        <h3 class="text-grey-900 mb-4">{{ project.title }}</h3>
        <div class="c-content">
            {{ project.text|raw }}
        </div>
        <a class="c-button mt-16" href="{{ project.url }}">View project</a>
    </div>
</div>
