description = "Displays a featured project."
==
<div class="md:flex md:items-center md:-ml-16">
    <div class="mb-16 md:w-1/2 md:mb-0 md:pl-16">
        <img src="{{ project.image.path }}" alt="{{ project.image.title }}">
    </div>

    <div class="md:w-1/2 md:pl-16">
        <h3 class="text-grey-900 mb-4">{{ project.title }}</h3>
        <div class="c-text text-grey-600 mb-12">
            {{ project.text|raw }}
        </div>
        <a class="c-button" href="{{ project.url }}">View project</a>
    </div>
</div>
