title = "Services"
url = "/services"
layout = "default"
description = "Services list page."
meta_description = "I'm Damian Lewis, a freelance web designer and developer based in St Albans, Hertfordshire. I design and build bespoke websites and applications for a wide range of businesses."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[pageHero]
id = 1

[servicesList]
orderBy = "sort_order"
orderDirection = "asc"
includeIcon = 1
==
{% if hero %}
    {% partial 'common/hero' %}
{% endif %}

<div class="[ c-container c-container--wave ]">
    <div class="c-container__inner mx-auto">
        {% partial 'headings/h2_with_divider' heading='Philosophy' %}
        <div class="c-content">
            {% content 'services/philosophy.htm' %}
        </div>
    </div>
</div>

{% if services.data %}
    <div class="[ c-container c-container--tint ]">
        <div class="c-container__inner mx-auto pt-24 lg:pt-32">
            <div class="flex flex-col items-center">
                {% partial 'services/services' services=services.data %}
            </div>
        </div>
    </div>
{% endif %}