/* Parallax Scrolling
   ========================================================================== */

/**
 * This applies a parallax scrolling effect to any element with the c-parallax__item class.
 * Apply the c-parallax class to the element you want to lock the perspective to; usually the body element.
 * Inspired by https://keithclark.co.uk/articles/pure-css-parallax-websites
 * See:
 * https://codepen.io/scottkellum/details/bHEcA
 * https://medium.com/@dailyfire/pure-css-parallax-simple-tricks-da102d0ffdb9
 */

@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
  $parallax-perspective: 8px;
  $parallax-z-distance: 2px;
  $parallax-scale-factor: ($parallax-perspective - $parallax-z-distance) / $parallax-perspective;

  .c-parallax {
    overflow: auto;
    perspective: $parallax-perspective;
    transform-style: preserve-3d;
  }

  .c-parallax__item {
    position: relative;
    transform: translateZ($parallax-z-distance) scale($parallax-scale-factor);
    z-index: 1;

    > * {
      position: absolute;
    }
  }
}
