/* Container
   ========================================================================== */

.c-container {
  //@apply flex flex-col items-center;
}

.c-container__inner {
  @apply px-8 pt-16 pb-24;
  max-width: 1580px;

  @screen md {
    @apply px-12 pt-20;
  }

  @screen lg {
    @apply px-50 pt-24 pb-32;
  }
}

.c-container--tint {
  @apply bg-red-100;
}

.c-container--dark {
  @apply bg-grey-700;
}

.c-container--wave {
  @apply relative;

  &::before {
    @apply absolute top-0;
    @apply w-full;
    @apply bg-no-repeat;
    content: '';
    background-image: url("/themes/damianlewis/assets/images/wave_mobile.svg");
    background-size: 100% 123%;
    transform: translateY(-98%);
    padding-bottom: 16%;

    @screen md {
      background-image: url("/themes/damianlewis/assets/images/wave_tablet.svg");
      background-size: 100% 135%;
      padding-bottom: 8%;
    }

    @screen lg {
      background-image: url("/themes/damianlewis/assets/images/wave_desktop.svg");
      background-size: 100% 132%;
      padding-bottom: 4%;
    }
  }
}
