description = "Template for the featured categories of the service categories component."
==
<div class="md:flex md:-ml-16">
    {% for category in categories %}
        <div class="flex flex-col mb-16 last:mb-0 md:mb-0 md:w-1/{{ categories.count }} md:pl-16">
            {% set icon = category.featured_icon %}
            <img class="self-center w-18 mb-8" src="{{ icon.getPath() }}" alt="{{ icon.title }}">
            <h2 class="text-grey-900 text-center mb-4">{{ category.title }}</h2>
            <div class="c-text text-grey-600 text-center">
                {{ category.featured_text|raw }}
            </div>
        </div>
    {% endfor %}
</div>