description = "Displays a list of services."
==
<div class="c-layout-x-24 sm:flex sm:flex-wrap sm:c-layout-y-16">
    {% for service in services %}
        <div class="service flex flex-col items-center sm:w-1/2">
            {% if service.icon %}
                <img class="h-18 mb-8" src="{{ service.icon.path }}" alt="{{ service.icon.title }}">
            {% endif %}
            <h3 class="text-grey-900 text-center mb-4">{{ service.title }}</h3>
            <div class="c-content text-center">
                {{ service.text|raw }}
            </div>
        </div>
    {% endfor %}
</div>

{% put styles %}
    <style>
        @media (min-width: 640px) {
            .service:nth-child(2) {
                margin-top: 0;
            }
        }
    </style>
{% endput %}